body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image:url('../images/background_scene.png');
}
/*responsive canvas*/

/*reference : http://stackoverflow.com/questions/23445907/jquery-to-make-html5-canvas-responsive*/

/*disable responsive in the very first version*/

/*#canvas {
    display: block;
    padding: 0;
    margin: 0 auto;
    background-color: red;
}
@media(max-width: 1200px) {
    #canvas {
        width: 100%;
        height: auto;
        background-color: red;
   }
}*/

/*end responsive canvas*/

#loading-wrapper {
    background-color: #15A3D5;
    text-align: center;
    z-index: 3;
    position: absolute;
    width:100%;
}
.loading-text{
    color:#fff;
    position: relative;
    top: 50%;
    font-size: 1.2em;
    font-weight: bold;
}
.top-menu {
    height: 50px;
}
.score-info {
    height: 150px;
}
.machine {
    text-align: center;
    position: relative;
}
img.slots-body {
    width: 100%;
    position: relative;
    z-index: 2;
}
#canvas {
    background-color: #15A3D5;
    position: absolute;
}
/*spin btn*/

#spinBtn {
    position: absolute;
    right: 0;
    top: 45%;
    z-index: 2;
}
#spinBtn img {
    width: 50px;
}
.panel-info {
    height: 100px;
}