body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*responsive canvas*/

/*reference : http://stackoverflow.com/questions/23445907/jquery-to-make-html5-canvas-responsive*/

/*disable responsive in the very first version*/

/*#canvas {
    display: block;
    padding: 0;
    margin: 0 auto;
    background-color: red;
}
@media(max-width: 1200px) {
    #canvas {
        width: 100%;
        height: auto;
        background-color: red;
   }
}*/

/*end responsive canvas*/

.placehoder-top {
    height: 180px;
}
.machine {
    text-align: center;
    position: relative;
}
img.slots-body {
    width: 100%;
    position: relative;
    z-index: 2;
}
img.slots-handler {
    z-index: 1;
    position: absolute;
    top: 94px;
    width: 13px;
    right: 20px;
    height: 95px;
}
img.slots-spin-btn {
    z-index: 2;
    position: absolute;
    top: 50px;
    right: 2px;
    width: 48px;
}
#canvas {
    width: 100%;
    background-color: #ddd;
    position: absolute;
    top: 0;
    left: 0;
}